<a href="https://colab.research.google.com/github/s4bih/data-visualisasi/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [5]:
url_data = pd.read_html("https://www.worldometers.info/world-population/population-by-country/")
url_data[0]

,#,Country (or dependency),Population (2024),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,1,India,1450935791,0.89 %,12866195,488,2973190,-630830,2.0,28,37 %,17.78 %
1,2,China,1419321278,-0.23 %,-3263655,151,9388211,-318992,1.0,40,66 %,17.39 %
2,3,United States,345426571,0.57 %,1949236,38,9147420,1286132,1.6,38,82 %,4.23 %
3,4,Indonesia,283487931,0.82 %,2297864,156,1811570,-38469,2.1,30,59 %,3.47 %
4,5,Pakistan,251269164,1.52 %,3764669,326,770880,-1401173,3.5,20,34 %,3.08 %
...,...,...,...,...,...,...,...,...,...,...,...,...
229,230,Montserrat,4389,-0.70 %,-31,44,100,-7,1.4,42,11 %,0.00 %
230,231,Falkland Islands,3470,-0.20 %,-7,0,12170,-13,1.7,42,68 %,0.00 %
231,232,Tokelau,2506,4.55 %,109,251,10,72,2.6,27,0 %,0.00 %
232,233,Niue,1819,0.11 %,2,7,260,10,2.5,36,44 %,0.00 %
233,234,Holy See,496,0.00 %,0,1240,0,18,1.0,59,N.A.,0.00 %

In [10]:
url_data[0].columns

Index(['#', 'Country (or dependency)', 'Population  (2024)', 'Yearly  Change',
       'Net  Change', 'Density  (P/Km²)', 'Land Area  (Km²)',
       'Migrants  (net)', 'Fert.  Rate', 'Med.  Age', 'Urban  Pop %',
       'World  Share'],
      dtype='object')

In [13]:
type(url_data[0])

pandas.core.frame.DataFrame

In [12]:
url_data[0].dtypes

#                            int64
Country (or dependency)     object
Population  (2024)           int64
Yearly  Change              object
Net  Change                  int64
Density  (P/Km²)             int64
Land Area  (Km²)             int64
Migrants  (net)              int64
Fert.  Rate                float64
Med.  Age                    int64
Urban  Pop %                object
World  Share                object
dtype: object

In [14]:
dfi = url_data[0].to_csv("dfi.csv")
print("data saved")

data saved